$body-bg: #f8f7fc;
$body-color: #18253d;
$white: #fff;
$main-blue: #03396A;
$secondary-blue: #3c88fd;
$freedom-blue: #02b8ff;
$dark-gray: #CDCDCD;
$light-gray: #E9E9E9;
$orange: orange;
$table-gray: #828282;
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

/* 使用@each 產出css size設定 */

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * 0.25),
  2: ($spacer * 0.5),
  3: ($spacer * 0.75),
  4: $spacer,
  5: ($spacer * 1.25),
  6: ($spacer * 1.5),
  7: ($spacer * 1.75),
  8: ($spacer * 2)
);


/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 16px;
  height: 16px;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: $body-bg;
  color: $body-color;
  font-family: 'Roboto', sans-serif;
  ;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

.scrollbar {
  padding-left: 6px;

  // 整體的樣式
  &::-webkit-scrollbar {
    width: 6px;
  }

  // bar的樣式
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

// CSS START

#main-app {
  height: 100%;
}

.sidebar {
  width: 100px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 1rem 0;
  background-color: $main-blue;

  .sidebar__menu__logo {

    .ac-logo {
      width: 100px;
      cursor: pointer;
    }

  }

  .sidebar__menu__link {
    position: absolute;
    top: 15%;
    left: 15%;
    cursor: pointer;

    &::after {
      content: "";
      border-style: solid;
      border-width: 20px 20px 20px 20px;
      border-color: $white ;
      position: absolute;
      top: 22%;
      right: 20%;
      transform: translateY(-50%); // 以自己 y-軸的高度，移動 -50%
      z-index: -1;
    }


    .frame,
    .folder,
    .mail {
      width: 30px;
      height: 30px;
      margin: 50px 18px 50px 16px;
    }
  }

}

.main {
  flex: 1;
  margin-left: 150px;

  .main__title {
    margin-bottom: 34px;
    margin-top: 20px;
    font-size: 48px;
  }

  .main__wrapper {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
  }

  .main__table {
    position: relative;
    background: $white;
  }


  .table__header {
    background: $dark-gray;
    color: black;
  }

  .table__row {
    height: 3rem;
    border-bottom: 1px solid $dark-gray;
  }

  .table__row:nth-child(even) {
    background: $dark-gray;
  }

  .table__row:hover {
    background: $dark-gray;
    transition: background 0.1s ease-out;
  }

  .table__row.checked {
    background: $orange;
  }

  .table__header.table__row.checked {
    background-color: $dark-gray;
  }


  .table__cell {
    text-align: center;
    padding: 0.5rem;
  }

  .table__thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .table__cell--checkbox {
    width: 50px;

  }

  .table__cell--id {
    width: 80px;
  }

  .table__cell--name,
  .table__cell--starttime,
  .table__cell--price,
  .table__cell--endtime {
    width: 140px;
    position: relative;
  }

  .table__cell--advertiser {
    // padding: 0.2rem;
    width: 140px;
  }

  .cell__advertiser__line {
    display: block;
    // 分成兩行
  }

  .cell__advertiser__line--group {
    color: $table-gray
  }

  .table__cell--description {
    width: 200px;
  }

  .table__cell--actions {
    width: 210px;
    position: relative;

  }

  .header__cell__icon--right {
    position: absolute;
    transform: translateY(-110%);
    left: 80%;
    cursor: pointer;
  }

  .cell__action__icon {
    position: absolute;
    right: 24px;
    transform: translateY(-40%);
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .action__menu {
    position: absolute;
    z-index: 1;
    width: 140px;
    height: 120px;
    background: $white;
    border: 1px solid $dark-gray;
    right: 40px;

    .menu__body {
      padding-left: 18%;

      .menu__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 30px;

        .menu__item__icon {
          margin-right: 10px;
        }
      }
    }
  }

}